.App {
    padding: 2rem;
}

.MoneyInput > input {
    border: 1px solid #000;
    color: #444;
    font-size: 2rem;

}

.CoinList {
    padding: 1rem 0;
    list-style: none;
    font-size: 1rem;
}

.CoinItem + .CoinItem {
  margin-top: 1rem;
}
